* { box-sizing: border-box; }
header, main, footer { display: block; }
body { background-image: linear-gradient(to left, #2eaf7d, #109be6, #2eaf7d); 
      color: #000000;
      font-family: Verdana, Arial, sans-serif;
}
#wrapper { width: 80%;
           margin-right: auto;
		   background-image: linear-gradient(to right, #22bab5, #22bab5, #449342);
		   margin-left: auto;
           width: 880px;
		   box-shadow: 2px 2px 2px #1affff; 
}

table, th, td {border: 1px solid black}

table { width: 90%;
      margin: auto;
	  border-spacing: 0;
	  background-color: #2a97fb; }

td, th { padding: 10px; }

tr:nth-of-type(odd) { background-color: #0073dd; }

form { padding: 1em; }

header {height: 150px;
        background-image: url(../HTML_Utility/Utility_Img/Artificial_Intelligence.jpg);
	    background-size: 220px;
        background-repeat: no-repeat;
}

.column-left {float: left;
			  width: 20%;
			  border-top: 2px #0073dd solid;
			  padding: 2px;
			  background-color: #22bab5;
}

.column-center {display: inline-block;
			    width: 60%;
			    background-image: linear-gradient(to bottom, #48a7fd, #a5d4ff);
			    border-top: 2px #0073dd solid;
			    padding: 2px;
		   		border-bottom: 2px #0073dd solid;
}

.column-right2 {display: inline-block;
			    width: 80%;
			    background-color: #ffbf00;
			    border-top: 2px #0073dd solid;
			    padding: 2px;
}

.column-right {float: right;
			   width: 20%;
			   border-top: 2px #0073dd solid;
			   padding: 2px;
}

.script {padding-left: 2em;}

nav { text-align: center; 
     font-weight: bold; 
	 font-size: 1.5em;
	 padding-top: 10px;
	 float: left;
	 width: 175px;
}
nav a { text-decoration: none; }
nav a:link { color: #3366ff; }
nav a:visited{ color: #1a1aff; }
nav a:hover { color: #01e082;}
nav ul { list-style-type: none;
       padding-left: 0; 
}

gamenav { text-align: center; 
     font-weight: bold; 
	 font-size: 1.5em;
	 padding-top: 10px;
	 float: left;
	 width: 175px;
}
gamenav a { text-decoration: none; }
gamenav a:link { color: #3366ff; }
gamenav a:visited{ color: #1a1aff; }
gamenav a:hover { color: #01e082;}
gamenav ul { list-style-type: none;
       padding-left: 0; 
}


h1 { padding-top: 45px;
    padding-left: 250px;
	font-size: 3em; 
	color: #000000;
}

ul { list-style-type: none;}

footer { background-image: linear-gradient(to right, #22bab5, #22bab5, #449342);
       font-size: h4;
	   font-style: italic;
	   text-align: center;
	   padding-bottom: 10px;
	   padding-top: 5px;
}
main { padding: 0 0 2em 0;
}
main h3, main p, main div{ padding-left: 2em; padding-right: 2em; }

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    }

    .calculator-grid > button {
      cursor: pointer;
      font-size: 2rem;
      border: 1px, solid #FFFFFF;
      outline: none;
      background-color: rbga(255, 255, 255, 0.75);
    }

      .calculator-grid > button:hover {
        background-color: #a9a9a9;
      }

      .span-two {
        grid-column: span 2;
        color: #000000;
        background-color: rgba(51, 153, 255, 0.8);
      }

      .output{
        grid-column: 1 / -1;
        background-color: rgba(0, 0, 0, 0.75);
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px;
        word-wrap: break-word;
        word-break: break-all;
      }

      .output .previous-operand{
        color: rgba(255,255, 255, 0.75);
        font-size: 1.5rem;
      }

      .output .current-operand{
        color: white;
        font-size: 2.5rem;
      }
